* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #000000;
}


/* Nav Bar ------------------------------------------------------
*/

header {
    width: 100%;
    position: absolute;
    z-index: 10;
}

@media only screen and (min-width: 801px){

    nav li, nav a{
        display: inline-block;
    }

    .navbar, #nav-profile {
        float: right;
    }

    nav ul {
        float: right;
        
    }

    nav a {
        margin: 2.8vw 2.8vw;
        font-size: 1.6vw;
        letter-spacing: 0.35vw;
        color: #c4c4c4;
        transition: 0.25s;
    }

    nav a:hover {
        color: #6d6d6d;
    }

    .login {
        margin-right: 10vw;
    }

    #nav-profile {
        width: 4vw;
        margin-left: 3vw;
        border-radius: 4vw;
        border: 1px solid black;
        transform: translate(-150%, 74%);
        z-index: 20;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #eeeeee;
        width: 10vw;
        z-index: 1;
        top: 7vw;
        left: 87vw;
    }
    .dropdown-content a {
        color: rgb(49, 49, 49);
        padding: 0.9vw 1.2vw;
        display: block;
        text-align: center
    }
    .dropdown-content a:hover {
        background-color: rgb(163, 163, 163);
        color: white;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    #nav-profile:hover {
        border: 2px solid green !important;
        transition: ease-in-out 0.3s;
    }

    .hamburger-menu, .sub-menu li{
        display: none;
    }
}

.logo {
    position: absolute;
    width: 13vw;
    margin: 0vw 3vw;
}



@media only screen and (max-width: 800px){

    .sub-menu {
        float: left;
        overflow: hidden;
    }
    
    .sub-menu .hamburger-menu {
        border: none;
        color: white;
        padding: 14px 16px;
        margin: 0;
    }
    
    .sub-menu {
        transform: translate(90vw, -2vh);
    }
    .sub-menu img {
        width: 70px;
        z-index: 10;
    }
    
    .hamburger-content {
        position: absolute;
        background-color: none;
        z-index: 1;
        text-align: center;
    }
    
    .hamburger-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 2vw;
    }

    .hamburger-content li {
        background-color: #f2f2f2;
    }
    
    .hamburger-content li:hover {
        background-color: #ddd;
    }
    
    .sub-menu:hover .hamburger-content {
        list-style: none;
    }
    .sub-menu:hover {
        overflow: visible;
        height: 100vh;
    }
    .sub-menu:hover .hamburger-content li{
        width: 12vw !important;
        transform: translate(-4vw, 0);
    }
    .navbar{
        display: none;
    }
    .dropdown-content {
        display: none;
    }
    #companyweirdo {
        transform: translate(-0.6vw, 0);
    }
}


/* Ava page Hero Image Section ------------------------------------------------------
*/

.ava-hero-img {
    background-image: url(Images/AVA_Mixed.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.ava-hero-txt {
    height: 100vh;
    position: relative;
  }

#human {
    margin: 0;
    position: absolute;
    font-size: 5vw;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #444444;
} 

#robot {
    margin: 0;
    position: absolute;
    font-size: 5vw;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #c0c0c0;
}


/* Ava Page Text Block Section ------------------------------------------------------
*/

.ava-text-block {
    width: 80%;
    margin: 10vh auto;
    position: relative;
}
.ava-text-block h1{
    font-size: 5vw;
}
.ava-text-block h2{
    font-size: 2.5vw;
    color: #555555;
    font-weight: 500;
}
.ava-text-block p{
    font-weight: 500;
    padding: 1vw 0;
    font-size: 1.4vw;
}
.ava-text-block a {
    color: #378aff;
    font-size: 1.5vw;
    font-weight: 600;
}

@media only screen and (max-width: 800px){

    .ava-text-block h1{
        font-size: 7vw;
    }
    .ava-text-block h2{
        font-size: 4vw;
    }
    .ava-text-block p{
        font-size: 2.5vw;
    }
    .ava-text-block a{
        font-size: 2.5vw;
    }
}


/* Ava Page cautions Block Section ------------------------------------------------------
*/

#split {
    width: 80%;
    height: 2px;
    background: black;
    border: none;
    position: relative;
    margin: 10vh auto 0vh;
}

.ava-cautions-block {
    width: 80%;
    margin: 10vh auto;
    position: relative;
}
.ava-cautions-block img {
    width: 40vw;
    height: 40vw;
}
.ava-cautions-block div {
    margin: 0;
    left: 55%;
}
.ava-cautions-block div, .ava-cautions-block img {
    display: inline-block;
}
.ava-cautions-block h2{
    position: absolute;
    font-size: 2.5vw;
    color: #555555;
    font-weight: 500;
    top: 0%;
    transform: translate(-1%, 0);
}
.ava-cautions-block p{
    position: absolute;
    font-size: 1.4vw;
    font-weight: 500;
    top: 10%;
    width: 48%;
}
.ava-cautions-block img {
    object-fit: cover;
    border-radius: 1vw;
    top: 10%;
    left: 50%;
    position: relative;
}
.ava-cautions-block a {
    position: absolute;
    color: #378aff;
    font-size: 1.5vw;
    font-weight: 600;
    top: 90%;
    width: 48%;
}

.ava-cautions-block hr {
    background-color: black;
    border: none;
    height: 2px;
    position: absolute;
    width: 5%;
    top: 98%;
}



@media only screen and (max-width: 800px){

    .ava-cautions-block h1{
        font-size: 7vw;
    }
    .ava-cautions-block h2{
        font-size: 4vw;
    }
    .ava-cautions-block p{
        font-size: 2vw;
    }
    .ava-cautions-block a{
        font-size: 2.5vw;
        top: 105%;
    }
    .ava-cautions-block hr{
        font-size: 2.5vw;
        top: 113%;
    }
    .ava-cautions-block img{
        margin-bottom: 30vw;
    }
}


/* AVA page AVA models Section ------------------------------------------------------
*/
@media only screen and (min-width: 800px){



.more-products {
    height: 90vh;
    position: relative;
}

.more-products img {
    height: 13vw;
    width: 13vw;
    object-fit: cover;
    border-radius: 2vw;
}

.more-products-flexbox {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 33vh 6vw;
}
  
.more-products h4 {
    position: absolute;
    margin: 0;
    font-size: 3.5vw;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.more-products hr {
    background-color: white;
    border: none;
}

.more-products h3 {
    font-size: 2.5vw;
    font-weight: 600;
    margin: 1vh 0 1vh;
}

#products-learnmore {
    color: #3d8af7;
    font-size: 1.2vw;
    font-weight: 600;
}
}


@media only screen and (max-width: 800px){


    .more-products {
        height: auto;
        position: relative;
    }
    
    .more-products img {
        height: 30vw;
        width: 30vw;
        object-fit: cover;
        border-radius: 2vw;
    }
    
    .more-products-flexbox {
        display: grid;
        grid-template-columns: 30vw 30vw;
        grid-template-rows: 47vw 47vw;
        text-align: center;
        justify-content: space-around;
        margin: 20vh 8vw 5vh;
    }
      
    .more-products h4 {
        position: absolute;
        margin: 0;
        font-size: 7vw;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
    
    .more-products hr {
        background-color: white;
        border: none;
    }
    
    .more-products h3 {
        font-size: 3.5vw;
        font-weight: 700;
        margin: 1vh 0;
    }
    
    #products-learnmore {
        color: #3d8af7;
        font-size: 2vw;
        font-weight: 600;
    }

}


/* Footer ------------------------------------------------------
*/

footer {
    height: 70vh;
    position: relative;
    background-color: #f2f2f2;
}

.container {
    padding: 4vh 0vw;
    display: grid;
    grid-template-columns: 22.7vw 22.7vw 22.7vw 22.7vw;
    grid-template-rows: 27vh 27vh;
    justify-content: center;
}

.container div {
    padding: 3vh 4.9vw;
}

.container h5 {
    font-size: 1.5vw;
    color: #606060;
}

.container ul {
    list-style-type: none;
}

.container li {
    font-size: 1.3vw;
    margin-top: 1.5vh;
    color: #7a7a7a;
}

.container a {
    font-size: 1.3vw;
    margin-top: 1.5vh;
    color: #7a7a7a;
}

footer hr {
    background-color: black;
    border: none;
    height: 2px;
    margin: 0 auto;
    width: 81%;
}

#flag {
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 1vw;
    transform: translate(-20%, 25%);
}

#nz img, #nz p {
    display: inline-block;
}

#nz, #copyright {
    display: inline-block;
    color: #7a7a7a;
    padding: 1vh 9.5vw;
    font-size: 1.2vw;
}

#nz p {
    color: #7a7a7a;
}

#nz {
    float: right;
}

