@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #000000;
}

/* Nav Bar ------------------------------------------------------
*/

header {
    width: 100%;
    position: absolute;
    z-index: 10;
}

@media only screen and (min-width: 801px){

    nav li, nav a{
        display: inline-block;
    }

    .navbar, #nav-profile {
        float: right;
    }

    nav ul {
        float: right;
        
    }

    nav a {
        margin: 2.8vw 2.8vw;
        font-size: 1.6vw;
        letter-spacing: 0.35vw;
        color: #686868;
        transition: 0.25s;
    }

    nav a:hover {
        color: #b9b9b9;
    }

    .login {
        margin-right: 10vw;
    }

    #nav-profile {
        width: 4vw;
        margin-left: 3vw;
        border-radius: 4vw;
        border: 1px solid black;
        transform: translate(-150%, 74%);
        z-index: 10;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #eeeeee;
        width: 10vw;
        z-index: 1;
        top: 7vw;
        left: 87vw;
    }
    .dropdown-content a {
        color: rgb(49, 49, 49);
        padding: 0.9vw 1.2vw;
        display: block;
        text-align: center
    }
    .dropdown-content a:hover {
        background-color: rgb(163, 163, 163);
        color: white;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    #nav-profile:hover {
        border: 2px solid green !important;
        transition: ease-in-out 0.3s;
    }
    .hamburger-menu, .sub-menu li{
        display: none;
    }
}

.logo {
    position: absolute;
    width: 13vw;
    margin: 0vw 3vw;
}

@media only screen and (max-width: 800px){

    .sub-menu {
        float: left;
        overflow: hidden;
    }
    
    .sub-menu .hamburger-menu {
        border: none;
        color: white;
        padding: 14px 16px;
        margin: 0;
    }
    
    .sub-menu {
        transform: translate(90vw, -2vh);
    }
    .sub-menu img {
        width: 70px;
        z-index: 10;
    }
    
    .hamburger-content {
        position: absolute;
        background-color: none;
        z-index: 1;
        text-align: center;
    }
    
    .hamburger-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 2vw;
    }

    .hamburger-content li {
        background-color: #f2f2f2;
    }
    
    .hamburger-content li:hover {
        background-color: #ddd;
    }
    
    .sub-menu:hover .hamburger-content {
        list-style: none;
    }
    .sub-menu:hover {
        overflow: visible;
        height: 100vh;
    }
    .sub-menu:hover .hamburger-content li{
        width: 12vw !important;
        transform: translate(-4vw, 0);
    }
    .navbar{
        display: none;
    }
    .dropdown-content {
        display: none;
    }
    #companyweirdo {
        transform: translate(-0.6vw, 0);
    }
}


/* Main Hero Image Section ------------------------------------------------------
*/

.hero-img {
    background-image: url(Images/AI5.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.hero-img h1{
    position: absolute;
    font-size: 5vw;
    margin: 38.5vh 6vw;
}

.hero-img p {
    position: absolute;
    margin: 51.5vh 6vw;
    font-size: 1.8vw;
    letter-spacing: 0.15vw;
    color: #444444;
}

#hero-img-learnmore {
    position: absolute;
    margin: 57.5vh 6vw;
    font-size: 1.4vw;
    color: #3d8af7;
    font-weight: bold;
    transition: 0.25s;
}

#hero-img-learnmore:hover {
    font-size: 1.5vw;
}

.hero-img hr {
    margin-top: 63vh;
    background-color: black;
    height: 2px;
    position: absolute;
    border: none;
    width: 5%;
    margin-left: 6vw;
}


@media only screen and (max-width: 801px){
    .hero-img {
        background-image: url(Images/AVA-Product-Page.png);
        background-position: left;
    }

    .hero-img h1{
        font-size: 8vw;
    }
    
    .hero-img p {
        width: 40%;
        margin: 50vh 6vw;
        font-size: 2.5vw;
    }
    
    #hero-img-learnmore {
        margin: 59vh 6vw;
        font-size: 2vw;
    }
}

/* Homepage Second product Section ------------------------------------------------------
*/

.section1-img {
    background-image: url(Images/AI_Second_section_Image.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.section1-txt {
    height: 100vh;
    position: relative;
  }
  
.section1-txt h1 {
    margin: 0;
    position: absolute;
    font-size: 5vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.section1-txt p {
    margin: 0;
    position: absolute;
    font-size: 1.8vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#section1-learnmore {
    margin: 0;
    position: absolute;
    font-size: 1.4vw;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #3d8af7;
    transition: 0.25s;
}
#section1-learnmore:hover {
    font-size: 1.5vw;
}
.section1-txt hr {
    background-color: black;
    height: 2px;
    position: absolute;
    border: none;
    width: 5%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 801px){
      
    .section1-txt h1 {
        text-align: center;
        font-size: 7vw;
    } 
    .section1-txt p {
        font-size: 2.5vw;
        text-align: center;
        top: 53%;
    }
    #section1-learnmore {
        font-size: 2.3vw;
        top: 59%;
    }
    .section1-txt hr {
        top: 62%;
    }

}

/* Homepage Shop Header Section ------------------------------------------------------
*/

.homepage-shop {
    height: 65vh;
    position: relative;
  }
  
.homepage-shop h1, .homepage-shop p, #homepage-shop-learnmore {
    position: absolute;
    margin: 0;
    font-size: 5vw;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.homepage-shop p {
    font-size: 1.8vw;
    top: 51%;
}

#homepage-shop-learnmore {
    font-size: 1.4vw;
    top: 60%;
    color: #3d8af7;
    font-weight: bold;
    transition: 0.25s;
}
#homepage-shop-learnmore:hover {
    font-size: 1.5vw;
}

.homepage-shop hr {
    background-color: black;
    border: none;
    height: 2px;
    position: absolute;
    width: 5%;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 801px){
      

    .homepage-shop {
        height: 35vh;
        position: relative;
    }
    
    .homepage-shop h1{
        font-size: 7vw;
    } 

    .homepage-shop p {
        font-size: 2vw;
        text-align: center;
        top: 48%;
    }

    #homepage-shop-learnmore {
        font-size: 2vw;
        top: 57%;
    }

    .homepage-shop hr {
        top: 64%;
    }

}


/* Homepage Fayonette Shop Section ------------------------------------------------------
*/

.fayonette-shop {
    height: 100vh;
    position: relative;
}

.fayonette-shop img {
    float: right;
    height: 100vh;
    width: 50vw;
    object-fit: cover;
}
  
.fayonette-shop h1, .fayonette-shop p, #fayonette-learnmore {
    position: absolute;
    margin: 0;
    font-size: 3.5vw;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
} 

.fayonette-items p {
    font-size: 1.5vw;
    top: 51.5%;
}

#fayonette-learnmore {
    font-size: 1.2vw;
    top: 57%;
    color: #3d8af7;
    font-weight: bold;
    transition: 0.25s;
}

#fayonette-learnmore:hover {
    font-size: 1.3vw;
}

.fayonette-shop hr {
    background-color: black;
    border: none;
    height: 2px;
    position: absolute;
    width: 5%;
    top: 60.5%;
    left: 25%;
    transform: translate(-50%, -50%);
}



@media only screen and (max-width: 801px){
      
    .fayonette-shop {
        height: 50vh;
    }
    
    .fayonette-shop img {
        height: 50vh;
    }
    
    .fayonette-items p {
        font-size: 1.5vw;
        top: 52.5%;
    }
    
    #fayonette-learnmore {
        font-size: 1.7vw;
        top: 57%;
    }
}


/* Homepage Corpalytics Shop Section ------------------------------------------------------
*/

.corpalytics-shop {
    height: 100vh;
    position: relative;
}

.corpalytics-items, .corpalytics-shop img {
    display: inline-block;
}

.corpalytics-shop img {
    float: left;
    height: 100vh;
    width: 50vw;
    object-fit: cover;
}
  
.corpalytics-shop h1, .corpalytics-shop p, #corpalytics-learnmore {
    position: absolute;
    margin: 0;
    font-size: 3.5vw;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
} 

.corpalytics-items p {
    font-size: 1.5vw;
    top: 52%;
    width: 50%;
    text-align: center;
}

#corpalytics-learnmore {
    font-size: 1.2vw;
    top: 57%;
    color: #3d8af7;
    font-weight: bold;
    transition: 0.25s;
}

#corpalytics-learnmore:hover {
    font-size: 1.3vw;
}

.corpalytics-shop hr {
    background-color: black;
    border: none;
    height: 2px;
    position: absolute;
    width: 5%;
    top: 60.5%;
    left: 75%;
    transform: translate(-50%, -50%);
}



@media only screen and (max-width: 801px){
      
    .corpalytics-shop {
        height: 50vh;
    }
    
    .corpalytics-shop img {
        height: 50vh;
    }
    
    .corpalytics-items p {
        font-size: 1.5vw;
        top: 52.5%;
    }
    
    #corpalytics-learnmore {
        font-size: 1.7vw;
        top: 57%;
    }
}


/* Homepage More Products Section ------------------------------------------------------
*/

.more-products {
    height: 90vh;
    position: relative;
}

.more-products img {
    height: 13vw;
    width: 13vw;
    object-fit: cover;
    border-radius: 2vw;
    transition: 0.25s;
}

.more-products img:hover {
    height: 13.5vw;
}

.more-products-flexbox {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 33vh 6vw;
}
  
.more-products h4 {
    position: absolute;
    margin: 0;
    font-size: 3.5vw;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.more-products hr {
    background-color: white;
    border: none;
}

.more-products h3 {
    font-size: 2.5vw;
    font-weight: 600;
    margin: 1vh 0 1vh;
}

#products-learnmore {
    color: #3d8af7;
    font-size: 1.2vw;
    font-weight: 600;
}



@media only screen and (max-width: 800px){


    .more-products {
        height: auto;
        position: relative;
    }
    
    .more-products img {
        height: 30vw;
        width: 30vw;
        object-fit: cover;
        border-radius: 2vw;
    }
    
    .more-products-flexbox {
        display: grid;
        grid-template-columns: 30vw 30vw;
        grid-template-rows: 47vw 47vw;
        text-align: center;
        justify-content: space-around;
        margin: 20vh 8vw 5vh;
    }
      
    .more-products h4 {
        position: absolute;
        margin: 0;
        font-size: 7vw;
        top: 12%;
        left: 50%;
        width: 100vw;
        transform: translate(-50%, -50%);
        text-align: center;
    } 
    
    .more-products hr {
        background-color: white;
        border: none;
    }
    
    .more-products h3 {
        font-size: 3.5vw;
        font-weight: 700;
        margin: 1vh 0;
    }
    
    #products-learnmore {
        color: #3d8af7;
        font-size: 2vw;
        font-weight: 600;
    }

    .more-products img:hover {
        height: 32vw;
    }

}


/* Footer ------------------------------------------------------
*/

footer {
    height: 70vh;
    position: relative;
    background-color: #f2f2f2;
}

.container {
    padding: 4vh 0vw;
    display: grid;
    grid-template-columns: 22.7vw 22.7vw 22.7vw 22.7vw;
    grid-template-rows: 27vh 27vh;
    justify-content: center;
}

.container div {
    padding: 3vh 4.9vw;
}

.container h5 {
    font-size: 1.5vw;
    color: #606060;
}

.container ul {
    list-style-type: none;
}

.container li {
    font-size: 1.3vw;
    margin-top: 1.5vh;
    color: #7a7a7a;
}

.container a {
    font-size: 1.3vw;
    margin-top: 1.5vh;
    color: #7a7a7a;
}

footer hr {
    background-color: black;
    border: none;
    height: 2px;
    margin: 0 auto;
    width: 81%;
}

#flag {
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 1vw;
    transform: translate(-20%, 25%);
}

#nz img, #nz p {
    display: inline-block;
}

#nz, #copyright {
    display: inline-block;
    color: #7a7a7a;
    padding: 1vh 9.5vw;
    font-size: 1.2vw;
}

#nz p {
    color: #7a7a7a;
}

#nz {
    float: right;
}














/* ai.html
*/


/* AI page Hero Image Section ------------------------------------------------------
*/

.ai-hero-img {
    background: url(Images/Smart-city3.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
#company-hero-img {
    background: url(Images/Headquarters.png);
}
#company-hero-img h1 {
    color: white;
}
#company-hero-img h2 {
    color: rgb(134, 134, 134);
}
#company-hero-img p {
    color: rgb(255, 255, 255);
}

@media only screen and (min-width: 801px){

    .ai-hero-txt h1 {
        margin: 0;
        position: absolute;
        font-size: 5vw;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000000;
    } 

    .ai-hero-txt h2 {
        position: absolute;
        font-size: 2.5vw;
        top: 40%;
        font-weight: 500;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #444444;
    }

    .ai-hero-txt p {
        position: absolute;
        font-size: 1.5vw;
        text-align: justify;
        top: 47%;
        font-weight: 500;
        left: 50%;
        transform: translate(-50%, 0);
        color: #000000;
    }

}

@media only screen and (max-width: 800px){

    .ai-hero-txt h1 {
        margin: 0;
        position: absolute;
        font-size: 7vw;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000000;
    } 

    .ai-hero-txt h2 {
        position: absolute;
        font-size: 3.5vw;
        top: 37%;
        font-weight: 500;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #444444;
    }

    .ai-hero-txt p {
        position: absolute;
        font-size: 2.2vw;
        text-align: justify;
        width: 70%;
        top: 42%;
        font-weight: 500;
        left: 50%;
        transform: translate(-50%, 0);
        color: #000000;
    }

}

/* ai Page Text Block Section ------------------------------------------------------
*/

.ai-uses-block {
    width: 80%;
    margin: 10vh auto 0;
    position: relative;
}
.ai-uses-block h2{
    font-size: 2.5vw;
    color: #292929;
    font-weight: 600;
}
.ai-uses-block p{
    font-weight: 500;
    padding: 1vw 0 0;
    font-size: 1.4vw;
}
.ai-uses-block a {
    color: #378aff;
    font-size: 1.5vw;
    font-weight: 600;
}
.ai-uses-block a:hover {
    font-size: 1.7vw;
}

@media only screen and (max-width: 800px){

.ai-uses-block p{
    font-size: 1.8vw;
}
}

/* ai Page uses Block Section ------------------------------------------------------
*/
.ai-uses-img {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.ai-uses-img div {
    margin: 0;
    left: 55%;
}
.ai-uses-img div, .ai-uses-img img {
    display: inline-block;
}
.ai-uses-img p{
    position: absolute;
    font-size: 1.4vw;
    font-weight: 500;
    top: 0%;
    width: 46%;
    margin-bottom: 10vh;
}
.ai-uses-img img {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    border-radius: 1vw;
    left: 50%;
    position: relative;
    margin-top: 0vh;
}
#second-section img {
    height: 43vw;
}
#third-section img {
    height: 47vw;
}
#company-first-section img {
    height: 43vw;
}
#company-first-section h6{
    position: absolute;
    font-size: 1vw;
    color: #7a7a7a;
    font-weight: 500;
    top: 100%;
    left: 62%;
    letter-spacing: 0.1vw;
}
#company-second-section h6{
    position: absolute;
    font-size: 1vw;
    color: #7a7a7a;
    font-weight: 500;
    top: 100%;
    left: 58.5%;
    letter-spacing: 0.1vw;
}
#company-third-section h6{
    position: absolute;
    font-size: 1vw;
    color: #7a7a7a;
    font-weight: 500;
    top: 100%;
    left: 61%;
    letter-spacing: 0.1vw;
}
#company-third-section img{
    height: 46vw;
}

@media only screen and (max-width: 800px){

    .ai-uses-img p{
        font-size: 1.8vw;
    }
    .ai-uses-img img {
        margin-bottom: 12vh;
    }
    #company-first-section h6{
        transform: translate(1.2vw, -23.5vw);
    }
    #company-first-section img{
        margin-bottom: 24vw;
    }
    #company-second-section h6{
        transform: translate(1.2vw, -12vw);
    }
    #company-third-section h6{
        transform: translate(1.2vw, -20vw);
    }

    #company-third-section img{
        margin-bottom: 20vw;
    }
}


/* ai Page Text Block Section ------------------------------------------------------
*/

.ai-text-block {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.ai-text-block h2{
    font-size: 2.5vw;
    color: #292929;
    font-weight: 600;
}
.ai-text-block p{
    font-weight: 500;
    padding: 1vw 0;
    font-size: 1.4vw;
}
.ai-text-block a {
    color: #378aff;
    font-size: 1.5vw;
    font-weight: 600;
    transition: 0.25s;
}
.ai-text-block a:hover {
    font-size: 1.55vw;
}

@media only screen and (max-width: 800px){

    .ai-text-block p{
        padding-top:1vw;
        font-size: 1.8vw;
    }
}


/* ai Page cautions Block Section ------------------------------------------------------
*/

#ai-split {
    width: 80%;
    height: 2px;
    background: black;
    border: none;
    position: relative;
    margin: 15vh auto 10vh;
}
.ai-image-block {
    width: 80%;
    margin: 10vh auto;
    position: relative;
}
.ai-image-block img {
    width: 40vw;
    height: 40vw;
}
.ai-image-block div {
    margin: 0;
    left: 55%;
}
.ai-image-block div, .ai-image-block img {
    display: inline-block;
}
.ai-image-block h2{
    position: absolute;
    font-size: 2.5vw;
    color: #292929;
    font-weight: 600;
    top: 0%;
    transform: translate(-1%, 0);
}
.ai-image-block p{
    position: absolute;
    font-size: 1.4vw;
    font-weight: 500;
    top: 10%;
    width: 48%;
}
.ai-image-block img {
    object-fit: cover;
    border-radius: 1vw;
    top: 10%;
    left: 50%;
    position: relative;
}
.ai-image-block a {
    position: absolute;
    color: #378aff;
    font-size: 1.5vw;
    font-weight: 600;
    top: 90%;
    width: 48%;
}

.ai-image-block hr {
    background-color: black;
    border: none;
    height: 2px;
    position: absolute;
    width: 5%;
    top: 98%;
}


















/* corpalytics.html
*/




/* Corpalytics page Hero Image Section ------------------------------------------------------
*/

.corpalytics-hero-img {
    background-image: url(Images/Boardroom.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.corpalytics-hero-img img{
    margin: 0;
    position: absolute;
    width: 17vw;
    height: 17vw;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.corpalytics-hero-img h1{
    margin: 0;
    position: absolute;
    font-size: 5vw;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
}
.corpalytics-hero-img h2{
    margin: 0;
    position: absolute;
    font-size: 2.5vw;
    top: 75%;
    left: 50%;
    font-weight: 500;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #444444;
}


/* Corpalytics Page Text Block Section ------------------------------------------------------
*/

.corpalytics-text-block {
    width: 80%;
    margin: 10vh auto;
    position: relative;
}
.corpalytics-text-block h2{
    font-size: 2.5vw;
    color: #3b3b3b;
    font-weight: 700;
}
.corpalytics-text-block p{
    font-weight: 500;
    padding: 1vw 0;
    font-size: 1.4vw;
}


/* Corpalytics Page cautions Block Section ------------------------------------------------------
*/

#corpalytics-split {
    width: 80%;
    height: 2px;
    background: black;
    border: none;
    position: relative;
    margin: 10vh auto 0vh;
}

.corpalytics-cautions-block {
    width: 80%;
    margin: 10vh auto;
    position: relative;
}
.corpalytics-cautions-block div {
    margin: 0;
    left: 55%;
}
.corpalytics-cautions-block div, .corpalytics-cautions-block img {
    display: inline-block;
}
.corpalytics-cautions-block h2{
    position: absolute;
    font-size: 2.5vw;
    color: #555555;
    font-weight: 500;
    top: 0%;
    transform: translate(-1%, 0);
}
.corpalytics-cautions-block p{
    position: absolute;
    font-size: 1.4vw;
    font-weight: 500;
    top: 10%;
    width: 48%;
}
.corpalytics-cautions-block img {
    width: 40vw;
    height: 43vw;
    object-fit: cover;
    border-radius: 1vw;
    top: 10%;
    left: 50%;
    position: relative;
}


@media only screen and (max-width: 801px){
    .corpalytics-hero-img img{
        width: 30vw;
        height: 30vw;
    }
    .corpalytics-hero-img h1{
        font-size: 7vw;
        top: 55%;
    }
    .corpalytics-hero-img h2{
        font-size: 3.5vw;
        top: 68%;
    }
    .corpalytics-text-block h2{
        font-size: 4vw;
    }
    .corpalytics-text-block p{
        font-size: 2vw;
    }
    .corpalytics-cautions-block h2{
        font-size: 3.5vw;
    }
    .corpalytics-cautions-block p{
        font-size: 2vw;
        top: 7vw;
    }
    .corpalytics-cautions-block img {
        margin-bottom: 5vw;
        height: 70vw;
    }

}


















/* checkout.html
*/




/* checkout Page uses Block Section ------------------------------------------------------
*/
.checkout {
    width: 85%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

@media only screen and (min-width: 801px){
.checkout div, .checkout img {
    display: inline-block;
}
}
.checkout div {
    margin: 20vh 3vw;
    width: 46%;
    position: absolute;
}
#checkout-product {
    font-size: 3.5vw;
    font-weight: 700;
    color: #383838;
}
#checkout-description{
    font-size: 1.4vw;
    font-weight: 500;
    top: 0%;
}
.checkout img {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    border-radius: 2vw;
    position: relative;
    margin: 20vh 0;
}
#first-button, #second-button {
    text-align: center;
    position: absolute;
    padding: 3vh 0;
    width: 50%;
    top: 30%;
    border-style: solid;
    border-width: medium;
    border-color: #383838;
    transition: 0.25s;
}
#first-button:hover, #second-button:hover {
    border-style: solid;
    border-width: medium;
    border-color: #3d8af7;
    z-index: 10;
    cursor: pointer;
}
#first-button {
    left: -8%;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
}
#second-button {
    left: 41.5%;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
#checkout-first-price, #checkout-second-price{
    font-size: 1.8vw;
    color: #6b6b6b;
    font-weight: 500;
}
#checkout-first-option, #checkout-second-option{
    font-size: 2.5vw;
    font-weight: 500;
    color: #3f3f3f;
}



@media only screen and (max-width: 800px){

    .checkout {
        width: 60%;
        height: 130vh;
    }
    #checkout-product {
        font-size: 5vw;
        font-weight: 700;
        transform: translate(0, -18vw);
        width: 200%;
    }
    #checkout-description{
        font-size: 2.5vw;
        font-weight: 500;
        width: 180%;
        transform: translate(0, -17vw);
    }
    .checkout img {
        width: 60vw;
        height: 60vw;
        border-radius: 4vw;
        margin: 20vh 0 0;
    }
    #first-button, #second-button {
        width: 90%;
        top: 1vw;
        transform: translate(0, -17vw);
    }
    #second-button {
        left: 80%;
    }
    #checkout-first-price, #checkout-second-price{
        font-size: 2.3vw;
        color: #6b6b6b;
        font-weight: 500;
    }
    #checkout-first-option, #checkout-second-option{
        font-size: 3vw;
        font-weight: 500;
        color: #3f3f3f;
    }


}







#shop-code {
    position: absolute;
    color: #ffffff00
}














/* shop.html
*/


/* Shop Hero IMG Section
*/

.shop-page-hero-img {
    background-image: url(Images/products-hero-img.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.shop-page-hero-img h1{
    margin: 0;
    position: absolute;
    font-size: 3.5vw;
    text-align: center;
    top: 22%;
    left: 50%;
    font-weight: 600;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
}
.shop-page-hero-img h2{
    margin: 0;
    position: absolute;
    font-size: 2.5vw;
    top: 30%;
    left: 50%;
    width: 100%;
    font-weight: 300;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #c4c4c4;
}

.shop-page-hero-img hr {
    background-color: rgb(82, 82, 82);
    border: none;
    height: 2px;
    position: absolute;
    width: 5%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.products-learnmore {
    color: #3d8af7;
    font-size: 1.2vw;
    font-weight: 600;
}


#ava-shop-section {
    height: 75vh;
    position: relative;
    background-color: #f8f8f8;
}

#computer-shop-section {
    height: 75vh;
    position: relative;
    background-color: #ffffff;
}


#mercury-shop-section {
    height: 75vh;
    position: relative;
    background-color: #f8f8f8;
}

#avalanche-shop-section {
    height: 75vh;
    position: relative;
    background-color: #ffffff;
}


#tokyo-shop-section {
    height: 75vh;
    position: relative;
    background-color: #f8f8f8;
}

#business-shop-section {
    height: 75vh;
    position: relative;
    background-color: #ffffff;
}

#cars-shop-section {
    height: 75vh;
    position: relative;
    background-color: #f8f8f8;
}

#apps-shop-section {
    height: 75vh;
    position: relative;
    background-color: #ffffff;
}

@media only screen and (min-width: 800px){

    .shop-products-flexbox {
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin: 27vh 6vw;
}

}

@media only screen and (max-width: 800px){

    
    .shop-products-flexbox {
        display: grid;
        grid-template-columns: 30vw 30vw;
        grid-template-rows: 47vw 47vw;
        text-align: center;
        justify-content: space-around;
        margin: 20vh 8vw 5vh;
    }

    .products-learnmore {
        font-size: 1.7vw;
    }


    #ava-shop-section, #computer-shop-section, #mercury-shop-section, #avalanche-shop-section, #tokyo-shop-section, #business-shop-section, #cars-shop-section, #apps-shop-section {
        height: 120vw;
    }
    #ava-shop-section h4, #computer-shop-section h4, #mercury-shop-section h4, #avalanche-shop-section h4, #tokyo-shop-section h4, #business-shop-section h4, #cars-shop-section h4, #apps-shop-section h4 {
        padding-bottom: 5vw;
    }

}










/* login.html
*/

.login-body {
    margin: 0;
    padding: 0;
    background-image: url(Images/login-page.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.login-box{
    width: 20vw;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-box h1 {
    float: left;
    font-size: 2.8vw;
    border-bottom: 0.25vw solid #5bd4b0;
    border-bottom-width: 40%;
    margin-bottom: 2vw;
    padding: 0.8vw 0;
    width: 20vw;
    text-align: center;
    color: white;
}
.login-box img {
    width: 20vw;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 1.4vw;
    padding: 0.6vw 0;
    margin: 0.6vw 0;
    border-bottom: 1px solid #5bd4b0;
}
.textbox i {
    width: 1.9vw;
    float: left;
    color: white;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.3vw;
    width: 80%;
    float: left;
    margin: 0 0.7vw;
}
.btn {
    width: 100%;
    background: none;
    border: 2px solid #5bd465;
    color: white;
    padding: 0.5vw 0 0.6vw;
    font-size: 1.3vw;
    cursor: pointer;
    margin: 0.84vw 0;
    transition: ease-in 0.15s;
    font-weight: 600;
}
.btn:hover {
    background-color: #5bd465;
    font-weight: 700;
    letter-spacing: 0.1vw;
}

.login-box p {
    text-align: center;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding: 0.7vw 0;
}

#gotosignup {
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
}

.login-box a {
    color: white;
    text-decoration: underline;
}


@media only screen and (max-width: 800px){
    

    .login-box{
        top: 45%;
    }

    #gotosignup {
        width: 150%;
        transform: translate(-15%, 0);
        font-size: 1.9vw;
    }
}





/* signup.html
*/
.go-back {
    padding: 2vw 2.5vw;
    font-size: 1.5vw;
}
.go-back a{
    transition: 0.5s;
}
.go-back a:hover {
    color: rgb(172, 172, 172);
}

.signup-body {
    background-color: #f8f8f8;
}
#signup-box {
    top:50%;
}

#signup-box h1 {
    color: rgb(0, 0, 0);
    font-size: 2.5vw;
    border-bottom: 0.25vw solid #20e4a9;
}
#signup-box p {
    font-size: 1.2vw;
}

@media only screen and (max-width: 800px){
    #signup-box p {
        font-size: 1.7vw;
    }
}
#signup-box div{
    border-bottom: 1px solid #20e4a9;
}
#signup-box div i {
    color: rgb(0, 0, 0);
}
#signup-box div input{
    color: rgb(0, 0, 0);
}
#subtn {
    border: 2px solid #20e4a9;
    color: rgb(68, 68, 68);
}
#subtn:hover {
    background-color: #20e4a9;
}









/*Support.html
*/


/* support page categories Section
*/

#support-page-hero-img {
    background: black;
    height:100vh;
}

.support-products-flexbox img {
    height: 10vw;
    width: 10vw;
    object-fit: cover;
    transition: 0.5s;
}
.support-products-flexbox img:hover {
    height: 12vw;
    width: 12vw;
}

.support-products-flexbox {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 50vh;
    width: 90%;
}

.support-products-flexbox a {
    font-size: 2.5vw;
    font-weight: 600;
    margin: 1vh 0 1vh;
    color: white;
}


.support-content {
    width: 80%;
    margin: 0 auto;
    padding: 3.5vw 0;
}
.support-content h1 {
    font-size: 4vw;
}
.support-content h2 {
    font-size: 2.5vw;
    padding: 1vw 0 0;
    color: #5a5a5a;
}
.support-content h6 {
    font-size: 1.7vw;
    padding: 2vw 0 0.7vw;
}

.support-content p {
    font-size: 1.2vw;
    padding: 0 0 1vw;
}

.support-content a {
    text-decoration: underline;
}

#computers-background {
    background: rgb(248, 248, 248);
}

.contact-support-subheader {
    padding-top: 1vw;
}

.smaller-header-support {
    transform: translate(0, -20%);
}
#transport-background {
    background: rgb(248, 248, 248);
}






/* careers.html
*/

#careers-box {
    top:45%;
}

#careers-box img{
    transform: translate(0, 20%);
}
#careers-box p{
    font-size: 1.3vw;
}

#careers-box h1 {
    color: rgb(0, 0, 0);
    font-size: 2vw;
    width: 25vw;
    transform: translate(-10%, 0);
    border-bottom: 0.25vw solid #20e4a9;
}
#careers-box div{
    border-bottom: 1px solid #20e4a9;
}
#careers-box div i {
    color: rgb(0, 0, 0);
}
#careers-box div input{
    color: rgb(0, 0, 0);
}
#careers-box p {
    color: black;
}


@media only screen and (max-width: 800px){


    #careers-box {
        top:45%;
    }

    #careers-box img{
        width: 30vw;
        transform: translate(-15%, 20%);
    }
    #careers-box p{
        font-size: 2vw;
        width: 150%;
        transform: translate(-15%, 0);
    }

    #careers-box h1 {
        font-size: 3vw;
        width: 40vw;
        transform: translate(-25%, 0);
    }

    .textbox{
        width: 150%;
        font-size: 1.8vw;
        padding: 1vw 0;
        margin: 1vw 0;
        transform: translate(-15%, 0);
    }
    .textbox i {
        width: 1.9vw;
    }
    .textbox input{
        font-size: 1.8vw;
        margin: 0 1vw;
    }
    .btn {
        width: 150%;
        transform: translate(-15%, 0);
        padding: 0.8vw 0 0.9vw;
        font-size: 2vw;
    }
    .go-back {
        padding: 2.5vw 3vw;
        font-size: 2.5vw;
    }
}



/* orderinfotwo.html
*/

#orderinfo-hero-img {
    background: rgb(248, 248, 248);
}

#order p{
    margin-top: 8vw;
    font-size: 2vw;
    
    width: 80vw;

}
#order h3{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 3vw;
}

#order h4{
    position: absolute;
    top: 63%;
    right: 10%;
    color: #6b6b6b;
    font-weight: 500;
    float: right;
    font-size: 1.3vw;
}

#orderinfo-split {
    width: 80%;
    height: 2px;
    background: black;
    border: none;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0);
}

#orderinfo-split-two {
    width: 80%;
    height: 2px;
    background: black;
    border: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
}

#newsroom {
    padding-top: 7vw;
}


@media only screen and (max-width: 800px){

    
    #order p{
        font-size: 2.5vw;
        margin: 15vh 0;
        text-align: center;
    }
    #order h3{
        font-size: 4.5vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    #order h4{
        top: 62%;
        font-size: 2vw;
        transform: translate(-169%, 0);
    }

}